# .gitignore for .NET
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
*.user
*.userosscache
*.sln.docstates
.vs/
.vscode/
.idea/
*.suo
*.patch
*.diff
*.nupkg
*.log
*.tmp
*.temp
*.swp
*.bak
*.old
*.orig
*.rej
/.vscode
/.trae
.trae/*


.editorconfig
TerrariaTools.code-workspace
.dotnet-cli-home
.dotnet-cli_home/*
.dotnet-home
Build
.dotnet-home
use-dotnet-env.ps1
dome/.dotnet
.dotnet/*